apiVersion: apps/v1
kind: Deployment
metadata:
  name: blue-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blue
  template:
    metadata:
      labels:
        app: blue
    spec:
      containers:
      - name: app
        image: hashicorp/http-echo
        args: ["-text=blue"]
        ports:
        - containerPort: 5678
